.splash-overlay, .splash-overlay * { margin: 0; padding: 0; }

.splash-overlay {
    z-index: 900;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: white;
}

.splash-plate {
    max-width: 92%;
    padding: 2% 4%;
    text-align: center;
    box-shadow: 1px 2px 12px rgba(0,0,0, 0.2);
    border-radius: 6px;
    background: white;
}

.splash-image {
    max-width: 100%;
}

.splash-paragraph {
    width: 260px;
    max-width: 100%;
    color: #AFADB3;
    font-family: "Segoe UI", "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.splash-paragraph sup {
    font-size: 0.6em;
}

/** 
 * Splash centering rules.
 * IE8-compatible "Ghost element" centering technique explained here:
 *   https://css-tricks.com/centering-in-the-unknown/
 */

.splash-overlay {
    text-align: center;
    white-space: nowrap;
}

.splash-overlay::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.splash-plate {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}