#WildfireRiskPopup {  
  z-index:220;   
  width: 280px;
  /*height: 150px;*/
  padding:4px 10px 4px 10px;
  border: 1px solid #A1B8E1;
  border-radius: 2px;    
  background-color:#ffffff;
  color: #000000;
}

.WildfireRiskPopupHeader {  
    float:left;
    width:100%;
    font-size:1.2em;
    font-weight:bold;
    padding-top:0.3em;
    padding-bottom:0.5em;
    color:rgba(105, 105, 105, 1);
}

.WildfireRiskPopupContent {  
    font-size:1em;
}

.WildfireRisk_link {    
    padding:8px 0px 8px 0px;
}

.WildfireRisk_link a {
    font-size:1.2em;
    color:#000000;
}

.WildfireRiskPopupCloseButton {  
    position:absolute;
    right:0em;
    top:2.5em;
}

#WildfireRisk_content h1 {
    font-size:1em;
    font-weight:normal;
    color:rgba(70, 132, 180, 1);
}

#WildfireRisk_content div {
    padding-left: 6px;
}

#WildfireRisk_content div div {
    padding:0px;
}

#WildfireRisk_warning {
    font-weight:bold;
    font-size:0.9em;
}