/*.map-top-left
{
    height:100%;
}*/

/*.map-navigation-region
{
    max-height:100%;
}*/

.WildfireRiskPopupModuleViewButton {
    padding: .5em;
    outline: none;
    background: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 0.25rem;
    font-weight: 600;
    color: #1A72C4;
    box-shadow: 0;
    cursor:pointer;
}

.WildfireRiskPopupModuleViewButton:hover {
    background-color: #1A72C4;
    color: #ffffff;
}

.WildfireRiskPopupModuleView 
{
    height:100%;
}

#WildfireRiskPopup {
    position:absolute;    
    top:44px;
    overflow-y:auto;
    z-index:220;   
    width: 280px;
    padding:4px 10px 4px 10px;
    border: 1px solid #A1B8E1;
    border-radius: 2px;    
    background-color:#ffffff;
    color: #000000;
}

/* Scrollbar is controlled by media queries */
@media all and ( min-height: 0px) {
    #WildfireRiskPopup {
        max-height: 100px;
    }
}

@media all and ( min-height: 300px) {
    #WildfireRiskPopup {
        max-height: 120px;
    }
}

@media all and ( min-height: 400px) {
    #WildfireRiskPopup {
        max-height: 220px;
    }
}

@media all and ( min-height: 500px) {
    #WildfireRiskPopup {
        max-height: 320px;
    }
}

@media all and ( min-height: 600px) {
    #WildfireRiskPopup {
        max-height: 450px;
    }
}

.WildfireRiskPopupHeader {  
    float:left;
    width:100%;
    font-size:1.2em;
    font-weight:bold;
    padding-top:0.3em;
    padding-bottom:0.5em;
    color:rgba(105, 105, 105, 1);
}

.WildfireRiskPopupContent {  
    font-size:1em;
}

/*.WildfireRiskPopupContent::-webkit-scrollbar {  
    width:12px;
}

.WildfireRiskPopupContent::-webkit-scrollbar-track  {  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.WildfireRiskPopupContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

.WildfireRisk_link {    
    padding:8px 0px 8px 0px;
}

.WildfireRisk_link a {
    font-size:1.2em;
    color:#000000;
}

.WildfireRiskPopupCloseButton {  
    position:absolute;
    right:0em;
    top:0em;
}

#WildfireRisk_content h1 {
    font-size:1.1em;
    font-weight:normal;
    color:#000000; 
    padding-left:4px;   
}

#WildfireRisk_content div {
    padding: 1px;       
}

#WildfireRisk_content p {
    padding: 0px 0px 0px 12px;
    margin: 0px;
    color:rgba(82, 82, 82, 1); 
}

#WildfireRisk_content div:nth-child(odd) {    
    background-color:#E7E7E7;
}

#WildfireRisk_warning span {
    color:#000000;
}

#WildfireRisk_value {
    font-weight:bold;
}

#WildfireRisk_content div div {
    padding:0px;
}

#WildfireRisk_warning {
    font-weight:bold;
    font-size:0.9em;
}

#WildfireRiskPopup::-webkit-scrollbar {
    -webkit-appearance: none;
}

#WildfireRiskPopup::-webkit-scrollbar:vertical {
    width:12px;
}

#WildfireRiskPopup::-webkit-scrollbar:horizontal {
    height:12px;
}

#WildfireRiskPopup::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}



.wildfire_dynamicform fieldset{
    border:solid 1px #a7a7a7;
    border-radius:4px;
    margin:5px 0;
}

.wildfire_dynamicform p.orangeText span{
    color:#e69500;
    font-weight:bold;
}

.wildfire_dynamicform h2{
    color:#999999;
}

.wildfire_dynamicform .your_location {
    padding:12px 0px 0px 4px;
}

.wildfire_dynamicform .data-content {
    padding-left:8px;
    color:#666666;
}

.wildfire_dynamicform .btn-row{
    display:table;
    width:100%;
}

.wildfire_dynamicform .btn-cell{
    display:table-cell;
    text-align:center;
}

.wildfire_dynamicform .btn-cell div:first-child{
    width: 80%;
    padding:8px;
    color:#1a72c4;
    background-color:rgba(245, 245, 245, 1);
    border-radius:4px;
    margin:10px;
    text-align:center;
    border: 1px solid #CCCCCC;
    font-weight:bold;
}

.wildfire_dynamicform .btn-cell div:hover{
    cursor:pointer;
    color: #ffffff;
    background-color:#1a72c4;
    text-decoration:underline;
}

.wildfire_dynamicform .btn-cell-download:hover{
    cursor:pointer;
    text-decoration:underline;
}

.wildfire_dynamicform .data-label{
    font-weight:bold;
}

.wildfire_dynamicform .contentBreakImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 0px;
}