/*css*/
    .OE_SearchToWorkflowView {
        float:right;
    }

    .oeSearchToWorkflow-module-view {
    
    }

    .oeSearchToWorkflow-module-view button {
        border: 1px solid #D9D9D9;
        border-style: solid;
        border-width: 1px;
        padding: .4em;
        margin-right: 2px;
    }

    .oeSearchToWorkflow-module-view div {
        position: absolute;
        display: block;
        background-color: white;
        border: 1px solid #D9D9D9;
    }

.oeSearchToWorkflowSuggest-module-view {
    position: absolute;
    display: block;
    background-color: white;
    border: 1px solid #D9D9D9;
    right: 10px;
    margin-top: 37px;
}

    .oeSearchToWorkflow-module-view div a, .oeSearchToWorkflowSuggest-module-view a {
        padding: 8px;
        display: block;
        background-color: #fff;
        text-align: left;
        color: #000;
        text-decoration: none;
    }

    .oeSearchToWorkflow-module-view div a:hover, .oeSearchToWorkflowSuggest-module-view a:hover {
        color: #fff;
        background-color: #4C4C4C;
        text-decoration: none;
    }

    .oeSearchToWorkflow-module-view div a.oeSearchToWorkflowSelected, .oeSearchToWorkflowSuggest-module-view a:hover {
        color: #fff;
        background-color: #4C4C4C;
        text-decoration: none;
    }
