
.region .view.TemplateModuleView.active {
    margin: 0;
}

.template-module-view
{
    position: absolute;
    z-index: 100;
    width: 200px;
    right: 0;
    background: white;
    color: black;
    padding: 6px;
    border: 1px solid #333;
    margin-top: 46px;
    margin-right: 2px;
}