.view.OE_ImageryViewCompare{
    max-width:60%;
    margin:auto;
    padding:20px;
    background:white;
}

.map-top-center{
    top:15px !important;
    position:absolute !important;
    left:20% !important;
    right:20% !important;
}